.toprowpanel{margin: 0%;background-color:#50B5FB;}
.rowpanel{margin: 1%;background-color:#8b8d8f;}
.tabletitle{background-color: black;text-align:center;color:white;border-style:solid;border-color:#8b8d8f;margin:0%;height:50px;}
.colpanel{margin: 0%;background-color:white;border-style:solid;border-color:#8b8d8f;height:50px;}
.svpgraph{background-color: white;height:365px;margin-top:10px}
.scoredd{margin-top:5px;}
.rowpanelright{margin-left:0px;margin-top:1%;margin-bottom:1%;margin-right:1%;background-color:#8b8d8f;}