<!-- 
\# Title : Building Comparison Tab 2 
\# Created : August 1, 2017 5:30 PM 
\# Author : Shivnesh
\# This code creates a Building Comparison Tab 2 that compares stats of two buildings
-->
<!-- Listing down the dependencies -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown-content.html">
<link rel="import" href="../../bower_components/px-slider/px-slider.html">
<link rel="import" href="../../bower_components/px-spinner/px-spinner.html">
<link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
<script src="../script/coreFile-maps.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.0.0.js"></script>

<style include="px-theme-styles" is="custom-style"></style>

<!-- Styling the px dropdowns -->
<style is="custom-style">
	:root {
		--px-dropdown-text-color: white;
		--px-dropdown-bg-color: cornflowerblue;
		--px-dropdown-bg-color--hover: gray;
		--px-dropdown-border-color: gray;
		--px-slider-background-color: gray;
		--px-slider-background-color--selected: cornflowerblue;
		--px-dropdown-text-color: white;
	}
</style>

<!-- Load d3.js and c3.js -->
<script src="../../bower_components/d3/d3.min.js" charset="utf-8"></script>
<script src="../../library/c3.min.js"></script>


<dom-module id="buildingmorecomparison-view">
	<template>
		<px-card style="height:850px;padding:0px;background-color: #8b8d8f;">

			<div class="col-sm-5 col-md-5 col-xs-5 col-lg-5">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>Facility Name</b></h4>
					</div>
					<div id = "facility1" class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
					<h4><b>facility1</b></h4>
					</div>
					<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>Building Name</b></h4>
					</div>
					<div id = "building1" class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>building1</b></h4>
					</div>
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">State</div>
						<div id="state1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">state1</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Utility Partner</div>
						<div id="utility1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">utility1</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">UESC/ESPC</div>
						<div id="uesc1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">uesc1</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Sq.Ft.('000)</div>
						<div id="sqft1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">sqft1</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Energy Usage(Mbtu)</div>
						<div id="eu1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">eu1</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">E.Intensity(Kbtu/Sq.Ft.)</div>
						<div id="ei1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">ei1</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Exelon Customer?(Y/N)</div>
						<div id="ec1" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">ec1</div>						
				</div>
			</div>
			<div class="col-sm-2 col-md-2 col-xs-2 col-lg-2"><br><br><br><br><br><br><br><br><br><br><br><br>
				<div id="comparisondd" class="scoredd">
						<px-dropdown id = "comparisonddlist" display-value="Total Mu Sigma Score">
							<px-dropdown-content extend-dropdown="true" extend-dropdown-by="25" max-cont-character-width="10" items='[{"key":"Total_Mu_Sigma_Score", "val": "Total Mu Sigma Score"}, {"key":"Site_Area_Score", "val": "Sq. Ft. Score"}, {"key":"Energy_Profile_Score", "val": "Energy Profile Score"}, {"key":"Energy_Consumption_Score", "val": "Energy Consumption Score"}, {"key":"Energy_Intensity_Score", "val": "Energy Intensity Score"}]'>
							</px-dropdown-content>
						</px-dropdown>
					</div>
			</div>
			<div class="col-sm-5 col-md-5 col-xs-5 col-lg-5">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>Facility Name</b></h4>
					</div>
					<div id = "facility2" class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>facility2</b></h4>
					</div>
					<div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>Building Name</b></h4>
					</div>
					<div id = "building2" class="col-sm-6 col-md-6 col-xs-6 col-lg-6 padding-left-10">
						<h4><b>building2</b></h4>
					</div>
				</div>
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">State</div>
						<div id="state2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">state2</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Utility Partner</div>
						<div id="utility2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">utility2</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">UESC/ESPC</div>
						<div id="uesc2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">uesc2</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Sq.Ft.('000)</div>
						<div id="sqft2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">sqft2</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Energy Usage(Mbtu)</div>
						<div id="eu2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">eu2</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">E.Intensity(Kbtu/Sq.Ft.)</div>
						<div id="ei2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">ei2</div>						
				</div>
				<div class="row rowpanel">
						<div class="col-sm-5 col-md-5  col-xs-5 col-lg-5 colpanel">Exelon Customer?(Y/N)</div>
						<div id="ec2" class="col-sm-7 col-md-7  col-xs-7 col-lg-7 colpanel">ec2</div>						
				</div>
				<div class="row">
					<div id = "bcgraph2" class = "bcgraph">
				</div>
			</div>
			
		</px-card>
	</template>
	<script>
		Polymer({
			is: 'buildingmorecomparison-view',
			properties: {},
			attached: function () {
				buildingcomparison2()
				console.log('building more comparison ready()')

			}
		});
	</script>
</dom-module>